@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); /* Oswald font */
@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap'); /* Rum Raisin */
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap'); /* Literata */
@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Adjust this to control the position of the tooltip */
    left: 50%;
    margin-left: -110px;
  
    /* Fade-in effect */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  